@font-face {
  font-family: "lack-font";
  src: url(../font/lack/lack-regular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
  }
  body{
    background: #021526;
    
    
  }
  h1,h2,h3,h4,h5,a{
    font-family: 'Inter', sans-serif;
  }

  .scroll-anim{
    animation: apparition-scroll 0.8s 0.3s ease-out forwards;
  }
  @keyframes apparition-scroll {
    100%{
        opacity: 1;
        transform: none;
    }
  }
 